In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
csv_file = "/Users/robertjost/Fall_2025/Biogeochemistry/dust_dataHW1.csv"

In [27]:
# concentration is g / ml, flux is g / m^2 / yr. g = mg/1000
# There are only eleven months in this dataset...
dust_df = pd.read_csv(csv_file)
dust_df

    ID  Ecosystem Season   P_conc  Ca_conc  flux_gm2yr
0    1  Foothills    NDJ  1028.00  10861.0    5.307173
1    2    Montane    NDJ   778.00   7455.0    8.608287
2    3  Foothills    FMA  1134.00   9418.0    6.999662
3    4    Montane    FMA  1235.50   8839.5    7.370548
4    5     Plains     MJ  2417.95   8247.0   15.986543
5    6  Foothills     MJ  3245.30   5843.0   21.734655
6    7    Montane     MJ  3558.50   4760.5   12.983546
7    8     Plains    JAS  2007.50   9701.5   14.282538
8    9  Foothills    JAS  2652.00   8372.5    9.707827
9   10    Montane    JAS  2813.00   7236.5   10.445604
10  11  Subalpine    JAS  1958.00   7061.0   11.843223
11  12     Alpine    JAS  3351.00  12149.5    6.371747

In [32]:
elevation_gradient = ["Plains", "Foothills", "Montane", "Subalpine", "Alpine"]

dust_df["Ecosystem"] = pd.Categorical(dust_df["Ecosystem"], categories=elevation_gradient, ordered=True)
dust_df_sorted = dust_df.sort_values(["Ecosystem", "Season"])
dust_df_sorted

    ID  Ecosystem Season   P_conc  Ca_conc  flux_gm2yr     P_flux     Ca_flux
7    8     Plains    JAS  2007.50   9701.5   14.282538  28.672196  138.562045
4    5     Plains     MJ  2417.95   8247.0   15.986543  38.654663  131.841023
2    3  Foothills    FMA  1134.00   9418.0    6.999662   7.937617   65.922819
8    9  Foothills    JAS  2652.00   8372.5    9.707827  25.745157   81.278781
5    6  Foothills     MJ  3245.30   5843.0   21.734655  70.535475  126.995588
0    1  Foothills    NDJ  1028.00  10861.0    5.307173   5.455774   57.641210
3    4    Montane    FMA  1235.50   8839.5    7.370548   9.106313   65.151963
9   10    Montane    JAS  2813.00   7236.5   10.445604  29.383484   75.589614
6    7    Montane     MJ  3558.50   4760.5   12.983546  46.201948   61.808170
1    2    Montane    NDJ   778.00   7455.0    8.608287   6.697247   64.174777
10  11  Subalpine    JAS  1958.00   7061.0   11.843223  23.189031   83.625000
11  12     Alpine    JAS  3351.00  12149.5    6.371747  21.351723   77.413536

In [29]:
dust_df["P_flux"] = (dust_df["P_conc"] /1000) * dust_df["flux_gm2yr"]
dust_df["Ca_flux"] = (dust_df["Ca_conc"] /1000) * dust_df["flux_gm2yr"]

In [30]:
seasons = dust_df.groupby("Season", observed=True)
ecosystem = dust_df.groupby("Ecosystem", observed=True)

In [31]:
for name, group in ecosystem:
    print(name)
    print(group)

Plains
   ID Ecosystem Season   P_conc  Ca_conc  flux_gm2yr     P_flux     Ca_flux
4   5    Plains     MJ  2417.95   8247.0   15.986543  38.654663  131.841023
7   8    Plains    JAS  2007.50   9701.5   14.282538  28.672196  138.562045
Foothills
   ID  Ecosystem Season  P_conc  Ca_conc  flux_gm2yr     P_flux     Ca_flux
0   1  Foothills    NDJ  1028.0  10861.0    5.307173   5.455774   57.641210
2   3  Foothills    FMA  1134.0   9418.0    6.999662   7.937617   65.922819
5   6  Foothills     MJ  3245.3   5843.0   21.734655  70.535475  126.995588
8   9  Foothills    JAS  2652.0   8372.5    9.707827  25.745157   81.278781
Montane
   ID Ecosystem Season  P_conc  Ca_conc  flux_gm2yr     P_flux    Ca_flux
1   2   Montane    NDJ   778.0   7455.0    8.608287   6.697247  64.174777
3   4   Montane    FMA  1235.5   8839.5    7.370548   9.106313  65.151963
6   7   Montane     MJ  3558.5   4760.5   12.983546  46.201948  61.808170
9  10   Montane    JAS  2813.0   7236.5   10.445604  29.383484  75.589614
Subalpine
    ID  Ecosystem Season  P_conc  Ca_conc  flux_gm2yr     P_flux  Ca_flux
10  11  Subalpine    JAS  1958.0   7061.0   11.843223  23.189031   83.625
Alpine
    ID Ecosystem Season  P_conc  Ca_conc  flux_gm2yr     P_flux    Ca_flux
11  12    Alpine    JAS  3351.0  12149.5    6.371747  21.351723  77.413536

In [ ]:
flux_df1 = pd.DataFrame()

# Phosphorus
flux_df1["P_conc_mean"] = ecosystem["P_conc"].mean()
flux_df1["flux_mean"] = ecosystem["flux_gm2yr"].mean()
flux_df1["P_flux_gLyr"] = (flux_df1["P_conc_mean"] / 1000) * flux_df1["flux_mean"]

# Calcium
flux_df1["Ca_conc_mean"] = ecosystem["Ca_conc"].mean()
flux_df1["Ca_flux_gLyr"] = (flux_df1["P_conc_mean"] / 1000) * flux_df1["flux_mean"]
flux_df1

           P_conc_mean  flux_mean  P_flux_gLyr  Ca_conc_mean  Ca_flux_gLyr
Ecosystem
Alpine        3351.000   6.371747    21.351723     12149.500     21.351723
Foothills     2014.825  10.937329    22.036805      8623.625     22.036805
Montane       2096.250   9.851996    20.652247      7072.875     20.652247
Plains        2212.725  15.134541    33.488577      8974.250     33.488577
Subalpine     1958.000  11.843223    23.189031      7061.000     23.189031

In [22]:
flux_df2 = pd.DataFrame()

# Phosphorus
flux_df2["P_flux_annual"] = ecosystem["P_flux"].sum()

# Calcium
flux_df2["Ca_flux_annual"] = ecosystem["Ca_flux"].sum()
flux_df2

           P_flux_annual  Ca_flux_annual
Ecosystem
Alpine         21.351723       77.413536
Foothills     109.674023      331.838398
Montane        91.388992      266.724524
Plains         67.326858      270.403068
Subalpine      23.189031       83.625000